.report-form{
    padding: 20px 0;
}
.field{
    padding: 6px 4px;
    margin-right: 10px;
}
.field-title{
    width: 300px;
}
.field-cost{
    width: 100px;
}
.report-form span{
    margin-right: 10px;
}
.report-form button{
    padding: 6px 20px;
    cursor: pointer;
}